* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    /* width: 300px; background-color: #38383a; */
    height: 100vh;
    padding: 10px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #333;
  }

  body.dark-mode {
    background-color: #38383a;
    color: #e0e0e0;
  }


  .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  #searchInput {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #4d4c4c;
    border-radius: 4px;
    color: #424242;
  }
  #searchBtn {
    padding: 8px;
    background-color: #216679;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #searchBtn:hover {
    background-color: #17568a;
  }
  #results {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #4d4c4c;
    padding: 5px;
    border-radius: 4px;
  }
  .history-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #4d4c4c;
    gap: 5px;
  }
  .history-item span {
    flex-grow: 1;
    word-break: break-all;
    font-size: 14px;
  }
  .delete-btn {
    padding: 4px 8px;
    background-color: #d35858;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  .delete-btn:hover {
    background-color: #cc0000;
  }
  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .select-all-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #selectAll {
    cursor: pointer;
  }
  #selectAlltxt {
    color: #0f0f0f;
    font-size: 14px;
  }

  body.dark-mode #selectAlltxt {
    color: #e0e0e0;
  }

  #deleteSelected {
    padding: 8px;
    background-color: #733939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  #deleteSelected:hover {
    background-color: #911a1a;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  #darkModeToggle {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
  }

  .website-link {
      align-items: center;
      color: #0a0a0a;
      display: flex;
      overflow: hidden;
      text-decoration: none;
  }
  body.dark-mode .website-link {
    color: #e0e0e0;
  }
  .website-link:hover {
    color: #4d77a1;
  }
  .website-title {
      font-size: 12px;
      font-weight: 500;
      margin-inline-start: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  #domain {
      color: #6d6868;
      font-size: 11px;
      margin-inline-start: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  #domain:hover {
    color: #4d77a1;
  }

  .item-visit-time {
      color: #3f3e3e;
      font-size: 12px;
      margin-left: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .item-visit-time span {
      color: #3f3e3e;
      font-size: 12px;
  }
  .item-visit-count{
      color: #3f3e3e;
      font-size: 12px;
      margin-left: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .item-visit-count span {
      color: #3f3e3e;
      font-size: 12px;
  }

  body.dark-mode .item-visit-time, body.dark-mode .item-visit-count {
    color: #bdbdbd;
  }
  body.dark-mode .item-visit-time span, body.dark-mode .item-visit-count span {
    color: #bdbdbd;
  }

  #footer {
    text-align: center;
    font-size: 12px;
    color: #302f2f;
    margin-top: auto;
    padding: 10px;
  }
  #authr {
    color: #000000;
    text-decoration: none;
  }
  #authr:hover {
    color: #4d77a1;
  }

  body.dark-mode #authr {
    color: #969292;
  }
  body.dark-mode #authr:hover {
    color: #4d77a1;
  }

  #srchTrm {
    color: #302f2f;
    font-size: 12px;
    margin-left: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #noRslt {
    color: #302f2f;
    font-size: 12px;
    margin-left: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  body.dark-mode #noRslt, body.dark-mode #srchTrm, body.dark-mode #domain, body.dark-mode .item-visit-time, body.dark-mode .item-visit-count, 
  body.dark-mode #footer {
    color: #bdbdbd;
  }

  body.dark-mode .search-container, body.dark-mode #searchInput,
  body.dark-mode #results, body.dark-mode .controls, body.dark-mode .header {
    background-color: #38383a;
    color: #e0e0e0;
    border-color: #555;
  }

  #loadingSpinner i {
  color: #fff;
  font-size: 16px;
  }
  #loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .loader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            transform:rotate(45deg);
            background: #fff;
          }
          .loader::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border:24px solid #FF3D00;
            animation: prixClipFix 2s infinite linear;
          }

          @keyframes prixClipFix {
              0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
              25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
              50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
              75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
              100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
          }
      